/* SG 1.0 Color Variables */
:root {
    --white: #ffffff;
    --mediumBlue: #383753;
    --darkBlue: #060528;
    --blue: #36A8FF;
    --lBlue: #4DFFD8;
    --yellow: #FABE25;
    --lYellow: #FFFC66;
    --green: #16A085;
    --lGreen: #CCF52B;
    --orange: #F7600F;
    --lOrange: #FF9E17;
}

body {
    --textColor: var(--darkBlue);
    --bgColor: var(--white);
    --borderColor: var(--mediumBlue) ;
    --inputBg: #F5F4F5;
    --activeBg: #f7f7fc;
    --baseColor: var(--blue);
    --baseLightColor: var(--lBlue);
    --baseGradient: linear-gradient(to bottom right, var(--textColor), var(--baseColor));
    --invertedGradient: linear-gradient(to bottom left, var(--textColor), var(--baseColor));
    --verticalGradient: linear-gradient(to bottom, var(--baseColor), var(--baseLightColor));

    /* Hugo Theme Vars */
    --MAIN-TEXT-color: var(--textColor); /* Color of text by default */
    --MAIN-TITLES-TEXT-color: var(--textColor); /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: var(--baseColor); /* Color of links */
    --MAIN-LINK-HOVER-color: var(--baseLightColor); /* Color of hovered links */
    --MAIN-ANCHOR-color: var(--baseColor); /* color of anchors on titles */

    --MENU-HEADER-BG-color: var(--bgColor); /* Background color of menu header */
    --MENU-HEADER-BORDER-color: var(--borderColor); /*Color of menu header border */ 
    
    --MENU-SEARCH-BG-color: var(--bgColor); /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: var(--borderColor); /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: var(--baseColor); /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: var(--bgColor); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: var(--bgColor); /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: var(--baseColor); /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: var(--baseLightColor);  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: var(--textColor); /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: var(--bgColor); /* Color of background for the active category (only) */

    --MENU-VISITED-color: var(--baseColor); /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: var(--borderColor); /* Color of <hr> separator in menu */
}

body.darkmode {
    --textColor: var(--white);
    --bgColor: var(--darkBlue);
    --borderColor: var(--mediumBlue) ;
    --activeBg: #161636;
    --inputBg: #272642;
    --baseColor: var(--blue);
    --baseLightColor: var(--lBlue);
    --baseGradient: linear-gradient(to bottom right, var(--baseColor), var(--baseLightColor));
    --invertedGradient: linear-gradient(to bottom left, var(--baseColor), var(--baseLightColor));
    --verticalGradient: linear-gradient(to bottom, var(--baseColor), var(--baseLightColor));

    /* Hugo Theme Vars */
    --MAIN-TEXT-color: var(--textColor); /* Color of text by default */
    --MAIN-TITLES-TEXT-color: var(--textColor); /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: var(--baseColor); /* Color of links */
    --MAIN-LINK-HOVER-color: var(--baseLightColor); /* Color of hovered links */
    --MAIN-ANCHOR-color: var(--baseColor); /* color of anchors on titles */

    --MENU-HEADER-BG-color: var(--bgColor); /* Background color of menu header */
    --MENU-HEADER-BORDER-color: var(--borderColor); /*Color of menu header border */ 
    
    --MENU-SEARCH-BG-color: var(--bgColor); /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: var(--borderColor); /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: var(--baseColor); /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: var(--bgColor); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: var(--bgColor); /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: var(--baseColor); /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: var(--baseLightColor);  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: var(--textColor); /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: var(--bgColor); /* Color of background for the active category (only) */

    --MENU-VISITED-color: var(--baseColor); /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: var(--borderColor); /* Color of <hr> separator in menu */
}
 
 
body.yellow {
    --baseColor: var(--lYellow);
    --baseLightColor: var(--yellow);
}

body.green {
    --baseColor: var(--green);
    --baseLightColor: var(--lGreen);
}

body.orange {
    --baseColor: var(--orange);
    --baseLightColor: var(--lOrange);
}

::selection {
    background: var(--baseColor);
    color: var(--darkBlue);
}

body.yellow ::selection {
    background: var(--yellow);
}

::placeholder { /* Chrome/Opera/Safari */
  color: var(--textColor) !important;
    opacity: .5;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--textColor) !important;
    opacity: .5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--textColor) !important;
    opacity: .5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--textColor) !important;
    opacity: .5;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--textColor) !important;
    opacity: .5;
}

*:focus, *:active {
    outline: none;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: none;
    background-color: #F5F5F5;
    border: 0;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--baseColor);
    border: 0;
    border-radius: 3px;
}

/* End SG 1.0 Color vars */

/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;&display=swap');


body, html {
    color: var(--MAIN-TEXT-color) !important;
    background: var(--bgColor);
    font-weight: 300;
    scroll-behavior: smooth;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2{
    color: var(--MAIN-TITLES-TEXT-color) !important;
    font-size: 1.2rem;
    text-transform: uppercase;
}

h3, h4, h5 {
    font-size: 1rem;
    text-transform: uppercase;
}


a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

.anchor:hover
    {color: #00C5CE;
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border: 0;
}
#sidebar .searchbox {
	border: 0;
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul .active ul li:last-of-type:after {
    background: var(--activeBg);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--activeBg);
    color: var(--baseColor);
    font-weight: 600;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

ul.topics li a:before {
    content: counters(list-item,'.') '.'
}

ul.topics li {
    position: relative;
}

ul.topics .toggleToc {
    position: absolute;
    right: 0;
    top: 13px;
    border: 1px solid var(--blue);
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: var(--blue);
    cursor: pointer;
}

ul.topics .parent .toggleToc {
    right: 16px;
}

ul.topics .toggleToc:before {
    content: "+";
}

ul.topics .parent .toggleToc:before {
    content: "-";
}

ul.topics li li .toggleToc {
    display: none;
} 

/* SG 1.0 Styling */
hr {
    width: 100%;
    background: var(--baseGradient);
    display: block;
    border: 0;
    height: 1px;
}

a, a:visited {
    color: var(--baseColor);
    text-decoration: none;
    font-weight: 500;
    transition: all .2s ease-in;
}

#body p a, #body li a,  #body p a:visited, #body li a:visited {
    text-decoration: underline;
}

a:hover {
    transition: all .3s ease-out;
    color: var(--baseLightColor);
}

strong, strong a {
    font-weight: 700;
}

.btn, .btn:visited, .button, .button:visited {
    border-radius: 20px;
    border: 0;
    padding: 10px 35px;
    color: var(--darkBlue);
    font-size: .9rem;
    display: inline-block;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background-image: var(--baseGradient);
    background-size: 200% auto;
    text-decoration: none;
    transition: all .2s ease-in;
}

.btn:hover, .btn:visited:hover, .button:hover, .button:visited:hover {
    color: var(--darkBlue);
    background-position: right top;
    transition: all .3s ease-out;
}

.btn svg {
    position: relative;
    top: 1px;
    left: -2px;
}

a.btn.discordIcon svg {
    top: 4px;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

img:not(.featherlight-image) {
    max-width: 75%;
}

.code {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.9rem;
    background: #00ADB51A;
    padding: 2px 4px;
    border-radius: 5px;
    color: #00adb5;
    margin: 1px;
}

.textGradient {
    /* background-size: auto 300%; */
    color: var(--baseColor);
    background-image: var(--baseGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.textGradient:hover {
    /* background: var(--invertedGradient);     */
    color: var(--baseLightColor);
    background-position: center right;
}

a.raw {
    font-weight: 300;
    color: inherit;
}

a.raw:not(.noUnderline):hover {
    color: var(--baseColor);
}

a.noUnderline {
    text-decoration: none;
}

.bgGradient {
    background: var(--baseGradient);
    color: var(--darkBlue);
}

.bgGradient a {
    color: var(--darkBlue);
}

.topBorderGradient {
    border-top: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: var(--baseGradient);
}

ul.raw {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.inline li {
    display: inline-block;
}

a.btn + a, a.arrow + a {
    margin-left: 20px;
}

a.arrow {
    border-bottom: 1px solid;
    text-decoration: none;
    position: relative;
    color: var(--baseColor);
    background-image: var(--baseGradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a.arrow:after {
    content: " ";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDEzIDEwIj48cGF0aCBkPSJNMTksMTAuMzc1SDguMzk0bDMuNDk0LTMuNDk0TDExLDYsNiwxMWw1LDUsLjg4MS0uODgxTDguMzk0LDExLjYyNUgxOVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5IDE2KSByb3RhdGUoMTgwKSIgZmlsbD0iIzA2MDUyOCIvPjwvc3ZnPg==");
    display: inline-block;
    width: 20px;
    height: 13px;
    background-size: 12px;
    background-position: 7px center;
    background-repeat: no-repeat;
    position: relative;
    top: 2px;
    transition: all .3s ease-in;
}

.arrow:hover:after {
    width: 25px;
    background-position-x: right;
    transition: all .2s ease-in;
}

.yellow .arrow:after {
    filter: hue-rotate(160deg) brightness(20);
}

.arrow:hover {
    color: var(--baseLightColor)
}

a.arrow:after {
    filter: hue-rotate(270deg) brightness(34);
}

a.arrow.noGradient, #topBar a.arrow {
    -webkit-text-fill-color: initial;
    -webkit-background-clip: initial;
    background-image: initial;
}

tr:nth-child(even) {
    background: var(--activeBg);
}

input[type="submit"] {
    cursor: pointer;
    width: auto;
}

.inlineItems > * {
    display: inline-block;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.fRight {
    float: right;
}

.fLeft {
    float: left;
}

.mText {
    font-size: 1.1rem;
}

.smText {
    font-size: .9rem;
}

.clearfix {
    clear: both;
    width: 100%;
    display: block;
}

.sectionPad {
    padding-top: 80px;
    padding-bottom: 80px;
}

section.sectionPad:first-of-type {
    padding-top: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.border {
    border: 1px solid var(--baseColor);
    border-radius: 5px;
}

img.border {
    border-radius: 5px;
}

.fullSize {
    width: 100%;
}

.capitalFirstLetter::first-letter {
    text-transform: uppercase;
}

.warning {
    border: 1px solid var(--lOrange);
    border-radius: 5px;
    padding: 10px;
    background: rgb(255 158 23 / 5%);
}

.postgresExtensions th {
    min-width: 60px;
}

/* Lightmode Fixes */
pre code {
    color: var(--textColor);
    
}

span[style="color:#960050;background-color:#1e0010"] {
    background-color: transparent !important;
}


/* Header */
#header  nav a, nav a:visited {
    color: var(--textColor);
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
}

#header nav .active a:after {
    content: " ";
    display: block;
    position: absolute;
    top: 110%;
    width: 15px;
    background-image: var(--baseGradient);
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
}

#header nav .active a {
    font-weight: bold;
    position: relative;
}

body:not(.active) #header nav a:hover {
    color: var(--baseColor);
}

#topBar {
    padding: 7px 0;
}

#topBar a {
    font-weight: normal;
}

#topBar a.arrow {
    color: var(--darkBlue)
}

#topBar a.arrow:after {
    filter: none;
}

#closeTop {
    float: right;
    margin-top: -15px;
}

#closeTop span {
    width: 13px;
    height: 2px;
    background: var(--darkBlue);
    display: block;
    transform: rotate(45deg);
    border-radius: 2px;
}

#closeTop span:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}

#header {
    padding: 30px 0;
    height: 90px;
    background: var(--bgColor);
    z-index: 999999;
    box-shadow: 0 10px 30px var(--bgColor);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.headerLogo svg {
    width: 24px;
    position: relative;
    top: 5px;
    margin-right: 1px;
}

.headerLogo {
    font-size: 1.3rem;
}

#mainMenu {
    margin-top: 5px;
}

#header .follow {
    margin-top: 8px;
}

#mainMenu li {
    margin: 0 8px;
}

#mainMenu a:hover {
    color: var(--baseLightColor);
}

#header .follow a {
    margin-left: 15px;
}

#header .follow path {
    fill: var(--baseColor);
}

#header a.slack svg {
    position: relative;
    top: 2px;
}

#header a.github svg {
    position: relative;
    top: 1px;
}

/* footer */
#goTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background-image: var(--baseGradient);
    border-radius: 100%;
}

#goTop:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}

#goTop svg {
    width: 120%;
    height: 120%;
}


#footer a.logo svg {
    float: left;
    width: 60px;
    margin-right: 10px;
}

#footer .logo span.textGradient {
    font-size: 32px;
}

#footer span.madeEasy {
    color: #fff;
    font-weight: 400;
    font-size: .65rem;
    position: relative;
    top: -13px;
}

#colophon {
    font-size: .75rem;
    padding-top: 10px;
    letter-spacing: .5px;
    margin-bottom: 40px;
}

#colophon a {
    color: #fff;
    margin-left: 25px;
    font-weight: 400;
}

#colophon a:hover, #fLinks a:hover {
    color: var(--baseLightColor);
}

#fLinks, #subscribe {
    padding: 40px 0;
}

#fLinks h4 {
    font-weight: 400;
    margin-bottom: 15px;
}

#fLinks li a {
    color: #fff;
    font-weight: 400;
    font-size: .9rem;
    margin-bottom: 5px;
    display: block;
}

#goTop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
    background-size: contain;
}

#goTop:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}

#goTop svg {
    width: 120%;
    height: 120%;
}

#darkmode {
    position: fixed;
    right: 30px;
    bottom: 90px;
    width: 45px;
    height: 45px;
    background-image: var(--baseGradient);
    border-radius: 100%;
    padding: 12px 14px;
    cursor: pointer;
    display: none;
}

#darkmode:hover {
    transform: scale(1.1);
    transition: all .2s ease-out;
}

#darkmode svg {
    width: 93%;
    height: auto;
}

body:not(.darkmode) #darkmode svg, body:not(.darkmode) #goTop svg {
    filter: invert(1)
}

#subscribe h5 {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 0;
}

input[type="text"]:focus, input[type="text"]:active, input[type="email"]:focus, input[type="email"]:active, textarea:focus, textarea:active, input:focus, input:active {
    border-color: var(--baseColor) !important;
    transition: all .3s ease-out;
}

#subscribe input#formsubmit {
    width: 100%;
    font-weight: 600;
    padding: 10px 0;
}

/* General */

#body li {
    list-style: none;
    position: relative;
}

#body li:before {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-image: var(--baseGradient);
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: -12px;
}

h1 {
    font-weight: bold;
}

p+h1 {
    margin-top: 50px;
}

#sidebar {
    top: 100px;
    left: 5vw;
}

#sidebar .fa-search:before {
    color: var(--textColor);
    font-size: 11px;
    position: relative;
    top: -2px;
    opacity: .4;
}

#sidebar a, #TableOfContents a, #TableOfContents a:visited {
    color: var(--textColor);
}

#sidebar a:hover, #sidebar ul.topics > li > a:hover b, #sidebar ul li.active > a:hover, #TableOfContents a:hover {
    color: var(--baseColor);
}

#sidebar .fa-times:before {
    font-size: 12px;
    position: relative;
    top: -1px;
    right: 4px;
}

#breadcrumbs a {
    margin: 0 5px;
}

#breadcrumbs a:first-child {
    margin-left: 0;
}


#body #breadcrumbs span a {
    font-size: 1rem;
    color: var(--baseColor);
}

#body #breadcrumbs span a:hover {
    color: var(--baseLightColor)
}

#body #breadcrumbs span.currentPage {
    font-size: .9rem;
}


.hljs {
    background: var(--activeBg);
}

/*Swagger Redesign*/

#ohpen_swagger_ui {
    position: relative;
}

#ohpen_swagger_ui .information-container.wrapper {
    display: inline-block;
    width: 80%;
}

#ohpen_swagger_ui .scheme-container {
    width: 20%;
    display: inline-block;
    box-shadow: none;
}

#ohpen_swagger_ui .information-container.wrapper .title > span small {
    position: relative;
    top: 7px;
    margin-left: 10px;
}

#ohpen_swagger_ui .swagger-ui .wrapper, #ohpen_swagger_ui .swagger-ui .scheme-container {
    padding: 0;
}

#ohpen_swagger_ui pre, #ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header, #ohpen_swagger_ui .swagger-ui table thead tr th, #ohpen_swagger_ui .swagger-ui .scheme-container {
    background: none !important;
}

#ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header h4 span:after, #ohpen_swagger_ui .tab li:before, #ohpen_swagger_ui .swagger-ui section .modal-ux h3:before, .toc #TableOfContents li a:after, #TableOfContents a:hover:after, #TableOfContents a:focus:after {
    display: none;
}

#ohpen_swagger_ui .opblock-section-request-body .opblock-section-header {
    display: block;
}

#ohpen_swagger_ui .tab li a {
    text-decoration: none;
}

#ohpen_swagger_ui .opblock-summary-method, #ohpen_swagger_ui button.btn.execute, #ohpen_swagger_ui .information-container.wrapper .title > span small pre {
    color: var(--bgColor) !important;
}

#ohpen_swagger_ui table.model td, #ohpen_swagger_ui table.parameters td, #ohpen_swagger_ui .swagger-ui table thead tr td, #ohpen_swagger_ui .swagger-ui table thead tr th, #ohpen_swagger_ui .parameter__name, #ohpen_swagger_ui .parameter__type, #ohpen_swagger_ui .parameter__deprecated, #ohpen_swagger_ui .parameter__in, #ohpen_swagger_ui .parameter__description {
    color: var(--textColor) !important;
}

#ohpen_swagger_ui .swagger-ui .dialog-ux .modal-ux {
    background-color: var(--bgColor);
}

#ohpen_swagger_ui .swagger-ui .opblock .opblock-summary-description, #ohpen_swagger_ui h4>a.nostyle span, #ohpen_swagger_ui .swagger-ui .errors-wrapper hgroup h4, #ohpen_swagger_ui .error button, #ohpen_swagger_ui .swagger-ui .info .title, #ohpen_swagger_ui .swagger-ui .info hgroup.main a, #ohpen_swagger_ui .swagger-ui .opblock-description-wrapper p, #ohpen_swagger_ui .swagger-ui .opblock-external-docs-wrapper p, #ohpen_swagger_ui .swagger-ui .opblock-title_normal p, #ohpen_swagger_ui .swagger-ui .opblock-description-wrapper, #ohpen_swagger_ui .swagger-ui section h3, #ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header h4, #ohpen_swagger_ui table, #ohpen_swagger_ui table td, #ohpen_swagger_ui .tab li, #ohpen_swagger_ui .response-controls small, #ohpen_swagger_ui .swagger-ui table thead tr td, #ohpen_swagger_ui .swagger-ui table thead tr th, #ohpen_swagger_ui .parameter__name, #ohpen_swagger_ui .parameter__type, #ohpen_swagger_ui .parameter__deprecated, #ohpen_swagger_ui .parameter__in, #ohpen_swagger_ui .parameter__description, #ohpen_swagger_ui .swagger-ui .responses-inner h4, #ohpen_swagger_ui .swagger-ui .responses-inner h5, #ohpen_swagger_ui .swagger-ui .response-col_status .response-undocumented, #ohpen_swagger_ui .wrapper .models h4 span,  #ohpen_swagger_ui .auth-container .wrapper p,  #ohpen_swagger_ui .auth-container .wrapper label {
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    letter-spacing: 0;
}

#ohpen_swagger_ui .swagger-ui .parameter__name.required:after {
    font-family: 'Poppins', sans-serif;
}

#ohpen_swagger_ui .swagger-ui .opblock-description-wrapper p, #ohpen_swagger_ui .swagger-ui .opblock-external-docs-wrapper p, #ohpen_swagger_ui .swagger-ui .opblock-title_normal p,  #ohpen_swagger_ui .swagger-ui .opblock-description-wrapper, #ohpen_swagger_ui .swagger-ui .opblock .opblock-summary-description, #ohpen_swagger_ui .swagger-ui section h3, #ohpen_swagger_ui table, #ohpen_swagger_ui table td, #ohpen_swagger_ui .tab li, #ohpen_swagger_ui .response-controls small, #ohpen_swagger_ui .swagger-ui table thead tr td, #ohpen_swagger_ui .swagger-ui table thead tr th, #ohpen_swagger_ui .parameter__name, #ohpen_swagger_ui .parameter__type, #ohpen_swagger_ui .parameter__deprecated, #ohpen_swagger_ui .parameter__in, #ohpen_swagger_ui .parameter__description, #ohpen_swagger_ui .swagger-ui .parameter__name.required:after, #ohpen_swagger_ui .swagger-ui .responses-inner h4, #ohpen_swagger_ui .swagger-ui .responses-inner h5, #ohpen_swagger_ui .swagger-ui .response-col_status .response-undocumented,  #ohpen_swagger_ui .auth-container .wrapper p,  #ohpen_swagger_ui .auth-container .wrapper p {
    font-size: .9rem;
}

#ohpen_swagger_ui .swagger-ui .responses-inner h4, #ohpen_swagger_ui .swagger-ui .responses-inner h5 {
    font-weight: 600;
    margin: 20px 0 10px 0;
}

#ohpen_swagger_ui .swagger-ui section h3, #ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header h4 {
    font-weight: bold;
    font-size: 1.05rem;
}

#ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header h4 {
    margin-top: 20px;
}

#ohpen_swagger_ui h4>a.nostyle span, #ohpen_swagger_ui .swagger-ui .errors-wrapper hgroup h4, #ohpen_swagger_ui .wrapper .models h4 span {
    font-weight: 600;
    font-size: 1.2rem;
}

#ohpen_swagger_ui .swagger-ui .info .title {
    font-weight: bold;
    font-size: 1.5rem;
}

#ohpen_swagger_ui .swagger-ui button.btn {
    /*border: 1px solid var(--baseColor) !important;
    border-radius: 20px !important;*/
    padding: 10px 15px !important;
    color: var(--baseColor);
    font-size: .9rem !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    text-transform: uppercase;
}

#ohpen_swagger_ui .swagger-ui .info hgroup.main a {
    font-size: 1rem;
    color: var(--baseColor);
    top: 1.7rem;
    position: relative;
    display: inline-block;
}

#ohpen_swagger_ui .swagger-ui .info hgroup.main a:hover {
    transition: all .3s ease-out;
    color: var(--baseLightColor);
}

#ohpen_swagger_ui .swagger-ui .info hgroup.main a:after, #ohpen_swagger_ui .tab li a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#ohpen_swagger_ui .swagger-ui .info hgroup.main a:hover:after, #ohpen_swagger_ui .tab li a:hover:after {
    width: 100%;
}

#ohpen_swagger_ui button.btn.execute, #ohpen_swagger_ui .swagger-ui .btn.authorize {
    background-image: var(--baseGradient) !important;
    color: var(--bgColor);
    background-size: 200% auto;
    transition: all .2s ease-in;
    padding: 10px 35px !important;
    width: auto;
    flex: 0;
}

#ohpen_swagger_ui .swagger-ui .btn.authorize svg {
    filter: brightness(4);
}

#ohpen_swagger_ui button.btn-clear {
    width: auto;
    flex: 0;
    margin-left: 20px;
}

#ohpen_swagger_ui button.btn.execute:hover, #ohpen_swagger_ui .swagger-ui .btn.authorize:hover {
    background-position: right top;
    transition: all .3s ease-out;
    color: var(--bgColor) !important;
}

#ohpen_swagger_ui .swagger-ui .opblock .opblock-summary-operation-id, #ohpen_swagger_ui .swagger-ui .opblock .opblock-summary-path, #ohpen_swagger_ui .swagger-ui .opblock .opblock-summary-path__deprecated, #ohpen_swagger_ui .errors, #ohpen_swagger_ui .swagger-ui .errors-wrapper .errors h4, #ohpen_swagger_ui .swagger-ui .errors-wrapper .errors small, #ohpen_swagger_ui .swagger-ui .model, #ohpen_swagger_ui .model-box span, #ohpen_swagger_ui .swagger-ui textarea, #ohpen_swagger_ui .auth-container h4 {
    color: var(--textColor);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 0.95rem;
    margin-bottom: 2px;
    text-transform: none;
    font-weight: 500;
}

#ohpen_swagger_ui pre.example span, #ohpen_swagger_ui .swagger-ui .code, #ohpen_swagger_ui .swagger-ui code, #ohpen_swagger_ui .response-controls select, #ohpen_swagger_ui .content-type-wrapper select, #ohpen_swagger_ui .swagger-ui .opblock-body pre.microlight, #ohpen_swagger_ui .swagger-ui .parameters-col_description select {
    font-family: 'Ubuntu Mono', monospace; 
    font-size: 0.95rem;
    font-weight: 500;
}

#ohpen_swagger_ui .model-example ul.tab + div, c .swagger-ui textarea, #ohpen_swagger_ui .opblock-body pre.microlight, #ohpen_swagger_ui .swagger-ui textarea {
    background: var(--borderColor) !important;
    padding: 1rem;
    border-radius: 4px;
}

#ohpen_swagger_ui .model-example ul.tab + div {
    border: 1px solid var(--borderColor);
}

#ohpen_swagger_ui .swagger-ui .parameters-col_description input[type=text], #ohpen_swagger_ui .swagger-ui .auth-container input[type=text] {
    background: var(--bgColor);
    border-color: var(--MENU-SECTION-HR-color);
}

td.col.col_header.response-col_links {
    min-width: 120px;
}

#ohpen_swagger_ui .model-box {
    padding: 0;
    background: none;
}

#ohpen_swagger_ui .swagger-ui section h3 {
    position: relative;
}

#ohpen_swagger_ui .swagger-ui section h3:before {
    content: "";
    background: var(--MENU-SECTION-HR-color);
    height: 1px;
    width: calc(100% + 40px);
    position: absolute;
    top: -15px;
    left: -20px;
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-get .opblock-summary-method, #ohpen_swagger_ui .swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span:after {
    background: #086af9; 
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-get, #ohpen_swagger_ui .swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: #086af9;
    background: rgba(8,106,249,.025);
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-post .opblock-summary-method, #ohpen_swagger_ui .swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span:after {
    background: #149100;
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-post, #ohpen_swagger_ui .swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: #149100;
    background: rgba(20,145,0,.025);
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: #f93e3e;
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-delete, #ohpen_swagger_ui .swagger-ui .errors-wrapper {
    border-color: #f93e3e;
    background: rgba(249,62,62,.025);
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-put .opblock-summary-method, #ohpen_swagger_ui .swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span:after {
    background: #ff9d00;
}

#ohpen_swagger_ui .swagger-ui .opblock.opblock-put {
    border-color: #ff9d00;
    background: rgba(255,157,0,.025);
}

/* #ohpen_swagger_ui .expand-methods svg, #ohpen_swagger_ui .expand-operation svg, #ohpen_swagger_ui .model-toggle:after, #ohpen_swagger_ui section.models h4 svg, #ohpen_swagger_ui select[disabled], #ohpen_swagger_ui textarea[disabled], #ohpen_swagger_ui button.close-modal svg, #ohpen_swagger_ui button.authorization__btn, #ohpen_swagger_ui .response-controls select, #ohpen_swagger_ui .content-type-wrapper select, #ohpen_swagger_ui .swagger-ui .parameters-col_description select {
    -webkit-filter: invert(1) brightness(.75);
    filter: invert(1) brightness(.75);
} */

#ohpen_swagger_ui .response-controls select, #ohpen_swagger_ui .content-type-wrapper select, #ohpen_swagger_ui .swagger-ui .parameters-col_description select {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid darkgoldenrod;
    color: black;
    background-color: transparent;
    margin: 10px 0;
}

#ohpen_swagger_ui .wrapper .models, #ohpen_swagger_ui .swagger-ui .dialog-ux .modal-ux-header {
    border: none;
}

#ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header {
    border-top: 1px solid;
}

#ohpen_swagger_ui .swagger-ui table thead tr th {
    border: 1px solid;
}


#ohpen_swagger_ui .swagger-ui .opblock-tag, #ohpen_swagger_ui .swagger-ui .opblock .opblock-section-header, #ohpen_swagger_ui .swagger-ui table thead tr td, #ohpen_swagger_ui .swagger-ui table thead tr th, #ohpen_swagger_ui .wrapper .models h4, #ohpen_swagger_ui .swagger-ui .dialog-ux .modal-ux {
    border-color: var(--MENU-SECTION-HR-color);
}

#ohpen_swagger_ui .error + div div:not(:first-of-type) h4, .swagger-ui .opblock-tag-section, #ohpen_swagger_ui .swagger-ui .is-open .opblock, #ohpen_swagger_ui .model table.model, #ohpen_swagger_ui .content-type-wrapper select, #ohpen_swagger_ui .swagger-ui section.models, #ohpen_swagger_ui .swagger-ui .dialog-ux .modal-ux-header {
    margin-top: 20px;
}

#ohpen_swagger_ui .swagger-ui .execute-wrapper {
    text-align: left;
    padding: 0;
}

#ohpen_swagger_ui .swagger-ui .execute-wrapper button {
    margin: 0 20px 20px !important;
}

#ohpen_swagger_ui table, #ohpen_swagger_ui table td, #ohpen_swagger_ui table th, #ohpen_swagger_ui table.model td, #ohpen_swagger_ui .swagger-ui .dialog-ux .modal-ux-header{
    padding: 20px !important;
}

#ohpen_swagger_ui table.model td  {
    padding: 10px 15px !important;
}

#ohpen_swagger_ui .inner-object {
    padding-left: 20px;
}

.swagger-ui table.model .renderedMarkdown p {
    margin: 0 auto;
}

#ohpen_swagger_ui .swagger-ui .tab li:first-of-type {
    padding-right: 20px;
}

#ohpen_swagger_ui .response .renderedMarkdown p, #ohpen_swagger_ui .swagger-ui section .modal-ux h3 {
    margin: 0;
}

#ohpen_swagger_ui ul.tab {
    margin: 20px 0 10px 0;
}

#ohpen_swagger_ui .swagger-ui input[disabled], #ohpen_swagger_ui .swagger-ui .parameters-col_description select[disabled] {
    opacity: .5;
}

#ohpen_swagger_ui thead tr {
    background: var(--activeBg);
}

#ohpen_swagger_ui tbody > tr:nth-child(even) .model-example ul.tab + div, #ohpen_swagger_ui tbody > tr:nth-child(even) .model-example ul.tab + div pre {

}

.swagger-ui section.models .model-container, .swagger-ui section.models .model-container:first-of-type {
    margin: 15px 0 !important;
    border: 1px solid var(--borderColor);
    padding: 10px 15px;
}

/*Search*/
.autocomplete-suggestions {
    border: 1px solid var(--borderColor);
    background-color: var(--activeBg);
    border-radius: 5px;
    margin-top: -1px;
    position: fixed;
    box-shadow: 5px 5px 15px 0px rgb(0 0 0 / 30%);
    top: 226px !important;
}
.autocomplete-suggestion {
    color: var(--textColor);
}
.autocomplete-suggestion:hover, .autocomplete-suggestion.selected {
    background-color: var(--inputBg);
    color: var(--baseColor);
}

mark.highlight {
    background: transparent;
    color: inherit;
}

/*TOC*/
#sidebar ul ul:before {
    background: var(--baseColor) !important;
    height: calc(100% - 5px);
    height: calc(100% - 5px);
}

#sidebar ul ul li:before, #sidebar ul ul li.active:before, #TableOfContents li:before {
    content: "";
    display: inline;
    height: 2px;
    width: 10px;
    position: absolute;
    background-color: var(--baseColor);
    left: 4px;
    top: 15px;
}

#sidebar ul ul li:last-of-type:after {
    content: "";
    display: inline;
    width: 4px;
    height: calc(100% - 6px);
    position: absolute;
    background: var(--activeBg);
    left: 1px;
    top: 17px;
}

#sidebar ul ul li.active > a {
    padding-left: 1rem;
    font-weight: 900;
    color: var(--baseColor);
}

.toc {
    width: 300px;
    position: fixed;
    right: 5vw;
    top: 100px;
}

.toc h2 {
    margin-bottom: 1rem;
}

#TableOfContents > ul {
    padding-left: 0;
    margin-top: .5rem;
}

.toc ul ul {
    padding-left: 30px;
}

#TableOfContents li:before {
    background-image: none;
}

.toc #TableOfContents li a {
    line-height: 1.5rem;
    display: inline;
    padding-left: 1.25rem;
    display: block;    
}

/* Bash Fix */
code.language-bash {
    color: #93d1ff;
    font-weight: bold;
}

.colorHighlight {
    color: var(--lOrange);
}

/* Lightbox Container */
.featherlight .featherlight-content {
    background-color: var(--bgColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    padding: 50px;
}

/*Version Selector*/
.versionSelector form {
    padding: 0 1rem;
    text-align: left;
}

.versionSelector label, .versionSelector select {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: var(--borderColor);
    font-size: 14px;
}

.versionSelector select {
    -webkit-appearance: none;
    -moz-appearance: none;
    float: right;
    border: 1px solid var(--baseColor);
    border-radius: 5px;
    padding: 3px 26px 3px 7px;
    background: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA3Ij4KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzNDQThGOCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBwb2ludHM9IjAuNSwwLjUgNiw2IDExLjUsMC41ICIvPgo8L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: calc(100% - 7px) center;
    color: var(--baseColor);
    margin-top: -2px;
}

/* Notifications */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -100vw;
    z-index: 10;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    transition: opacity .2s ease-in;
}

#lightbox.show {
    opacity: 1;
    left: 0;
    transition: opacity .3s ease-in;
}

#lightbox.show .message {
    opacity: 1;
    transition: all 1s ease-in;
}

#lightbox .overlay {
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.message {
    display: block;
    width: 450px;
    max-width: 80vw;
    text-align: center;
    color: #fff;
    border: 1px solid var(--baseLightColor);
    background: var(--darkBlue);
    padding: 40px;
    margin: 0 auto;
    opacity: 0;
    transition: all .5s ease-in;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

/*Light and Darkmode Adjustments*/
.darkmode .versionSelector label, .darkmode .versionSelector select {
    color: #f5f5f5;
}


/* Container Override */
@media screen and (min-width: 0px) {
    .container {
        max-width: 90vw;
        width: 90vw;
    }
}

@media screen and (min-width: 2200px) {
    .container {
        max-width: 1800px;
    }
}

@media screen and (min-width: 920px) and (max-width: 1240px) { 

    #header .follow {
        position: fixed;
        bottom: 85px;
        right: 30px;
        z-index: 10;
    }

    #header .follow a {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        background: var(--baseGradient);
        border-radius: 100%;
        margin-top: 8px;
        position: relative;
        overflow: visible;
    }

    #header .follow a svg path {
        fill: var(--darkBlue);
    }

    #header .follow a span {
        display: none;
    }

    #header .follow a:hover {
        transform: scale(1.1);
        transition: all .2s ease-out;
    }

    #mainMenu {
        float: right;
    }

}


@media screen and (max-width: 1400px) {
    #body {    
        max-width: calc(100vw - 300px - 10vw);
    }

    .toc {
        width: calc(80vw - 300px);
        position: relative;
        left: 0;
        top: 1rem;
    }

    #body-inner {
        margin-top: 2rem;
    }

    #body-inner:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid var(--MENU-SECTION-HR-color);
        position: relative;
        top: -2rem;
    }

    .is-sticky #top-bar {
        position: initial !important;
    }

    #TableOfContents li:before {
        background-image: none;
    }

}

@media screen and (max-width: 990px) { 
    
}


@media screen and (min-width: 921px) {
    .hideDesktop {
        display: none !important;
    }
}

@media screen and (max-width: 920px) { 

    #body {
        width: 100%;
        max-width: 100%;
    }

    #goTop {
        display: none;
    }

    #navToggle {
        width: 100px;
        height: 50px;
        transform: translate(-50%, -50px);
        position: absolute;
        left: 50%;
    }

    #navToggle svg {
        width: 100px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
    }

    #navToggle span {
        height: 2px;
        width: 20px;
        display: block;
        background: var(--darkBlue);
        margin: 2px auto;
        position: relative;
    }

    .menuOpen #navToggle stop {
        stop-color: var(--baseColor);
    }

    .mobileMenu {
        position: fixed;
        bottom: 0;
        z-index: 999999;
        width: 100vw;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        max-width: none;
        max-height: 0;
        background-image: var(--verticalGradient);
        text-align: center;
        transition: all .3s ease-out;
    }

    .mobileMenu.menuOpen {
        max-height: 100vh;
        padding-bottom: 20px;
        transition: max-height .3s ease-out;
    }
    

    #header.menuOpen:before {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--bgColor);
        display: block;
        content: " ";
        top: 0;
        left: 0;
        opacity: .9;
        z-index: 10;
    }

    #mainMenu, #header .follow {
        display: none;
        width: 100%;
    }

    .menuOpen #mainMenu, #header.menuOpen .follow {
        display: block;
        transition: all .3s ease-out;
    }

    #logo {
        position: absolute;
        left: 100vw;
        transition: opacity .3s ease-in;
    }

    .menuOpen #logo {
        opacity: 1;
        left: 50%;
        transform: translate(-50%, -100px);
        transition: opacity .3s ease-in;
    }

    #header nav a, #header nav a:visited, #header nav a:hover {
        color: var(--darkBlue) !important;
        font-weight: bold;
        letter-spacing: 0;
    }

    #header nav .active a:after {
        background-color: var(--darkBlue);
        background-image: none;
    }

    #mainMenu li {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    #mainMenu {
        padding-top: 20px;
    }

    #header .follow a {
        margin: 10px 0;
        display: block;
        color: var(--darkBlue);
        background-image: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0;
    }

    #mainMenu li:last-child:after {
        display: block;
        content: " ";
        width: 50px;
        height: 2px;
        background: var(--darkBlue);
        left: calc(50% - 25px);
        position: absolute;
        margin-top: 12px;
    }

    #header .follow path {
        fill: var(--darkBlue)
    }

    #header a.github svg {
        top: 0px;
        left: -1px;
    }

    #header a.slack svg {
        top: 1px;
        left: -1px;
    }

    #mobileLogo {
        margin-left: calc(5vw + 15px);
    }

    h1:not(.postTitle), .h1 {
        font-size: 2rem;
        line-height: 1;
        margin: 20px 0 30px;
        padding-bottom: 10px;
    }

    #header {
        position: relative;
    }

    .menuOpen #navToggle path {
        fill: var(--baseColor);
    }

    .menuOpen #navToggle span:nth-child(4) {
        transform: rotate(-45deg);
        margin-top: -4px;
    }
    
    .menuOpen #navToggle span:nth-child(3) {
        transform: rotate(45deg);
    }
    .menuOpen #navToggle span {
        transition: all .3s ease-out;
    }
    .menuOpen #navToggle span:nth-child(2) {
        width: 0;
    }
}

@media screen and (max-width: 768px) {

    #sidebar {
        width: 100vw;
        padding: 0 calc(5vw + 1rem);
        left: -100vw;
        transition: left .3s ease-out;
        background: var(--bgColor);
        z-index: 999;
    }

    #sidebar.show {
        top: 0;
        padding-top: 100px;
        left: 0;
        overflow-y: auto;
        transition: left .3s ease-out;
    }

    #showSidebar {
        float: right;
        margin-right: calc(5vw + 1rem);
        margin-top: 5px;
    }

    #sidebar-toggle-span, .ps-container>.ps-scrollbar-y-rail, .ps-container>.ps-scrollbar-x-rail, .ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y, .ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
        display: none !important;
    }

    p code, td, td code {
        white-space: inherit;
        word-break: inherit;
    }

    #sidebar > .highlightable {
        height: auto !important;
    }

}

@media screen and (max-width: 640px) {
    
}